.footer-bottom{
    background-color: #00ff33;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -10px;
    color: #252525;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    color: #000000;
    text-decoration: none;
    font-size: large;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -10px;
    color: #252525
}

.footer-menu li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.footer-menu li:after {
    content: '/';
    margin-left: 10px
}

.footer-menu li:last-child:after {
    display: none
}

.footer-menu a {
    color: inherit;
    text-decoration: none
}